[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
yapf = "*"
matplotlib = "*"

[packages]
numpy = "*"
pillow = "*"
torch = {file = "http://download.pytorch.org/whl/cu91/torch-1.1.0-cp36-cp36m-linux_x86_64.whl"}
torchvision = "*"

[requires]
python_version = "3.7"
